* {
  transition: background-color 0.5s;
}

html {
  font-size: 22px;
  font-family: sans-serif;
}

body {
  background-color: #333;
  color: whitesmoke;
  margin: 0;
}

.light-mode {
  background-color: white;
  color: #333;
}

.web-body {
  padding: 1rem;
}

main {
  margin: 5rem;
}
