

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: grayslateblue;
  flex-grow: 1;
}

.product-item {
  margin: 1em;
  padding: 1em;
  background: #444;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  flex-grow: 1;
}

.product-list a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.product-list a:hover {
  background: #5898e0;
}

@media all and (max-width: 800px) {
  .product-list {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .product-list {
    flex-flow: column wrap;
    padding: 0;
  }

  .product-list a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .product-list li:last-of-type a {
    border-bottom: none;
  }
}
