em{
  text-decoration:dashed underline;
}

.background__image {
  width: 100%;
  height: 400px;
  display: block;
  margin: auto;
  top: 3rem;
}

.light-mode {
  .product-item {
    background: #ddd;
  }
}